<!DOCTYPE html>
<html lang="Pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pokedex</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body id=all>
    <nav>
      <section id="message">
        <p>Mensagem temp</p> <span id="close">&times;</span>
    </section>
    <% if(message != "") {  %>
    <section id="message">
        <p><%= message %></p> <span id="close">&times;</span>
    </section>
<% }  %>
      <ul>
          <li>
              <a href="#">Home</a>
          </li>
          <li>
              <a href="#cadastro">Cadastro</a>
          </li>
          <li>
              <a href="#Detalhes">Detalhes</a>
          </li>
      </ul>
  </nav>

  
    
   

    <script src="/js/scrypt.js"></script>
  </body>
</html>
